*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

:root {
	--btn-border: #fff;
	--btn-color: #fff;
}

html,
body {
    height: 100%;
}

body {
	margin: 0;
	background: #000;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

.swiper-container {
	width: 100%;
}

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}




html,
body {
  position: relative;
  height: 100%;

}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
	overflow: hidden;
  max-width: var(--swiper-width, 70vw);
}

@media screen and (min-width: 1024px) {
	.swiper {
		--swiper-width: 50vw;
	}
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide {
  background-color: #fff;
}
