*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
	margin: 0;
	background: #fff;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}